/*@media screen and (min-width: 320px) and (max-width: 544px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 12px;
    margin: 0 16px 64px;
  }
}*/

/*@media screen and (min-width: 545px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 24px 88px;
  }
}*/
