.stories {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.stories__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px repeat(3, 1fr) 50px;
  grid-gap: 48px 40px;
  border: 2px solid red;
}

.stories__content_row_four {
  grid-template-rows: 125px repeat(2, 1fr) 50px;
}

.stories__header {
  max-width: 460px;
  height: max-content;
  font-family: "Inter-Black", sans-serif;
  font-size: 72px;
  line-height: 0.9;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
}

.stories__image {
  max-width: 460px;
  max-height: 460px;
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.stories__image-item {
  width: 100%;
  height: max-content;
}

.stories__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.stories__link_nft_button {
  padding: 15px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to right, #0278fe, #003a7b 100%);
  border-radius: 5px;
  grid-column: 1 / 3;
  grid-row: 5;
}

.stories__link_nft_button-four {
  padding: 15px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to right, #0278fe, #003a7b 100%);
  border-radius: 5px;
  grid-column: 1 / 3;
  grid-row: 4;
}

.stories__link_nft_button:hover,
.stories__link_nft_button-four:hover {
  background-image: linear-gradient(to right, #0278fe88, #00397bb7 100%);
}

.stories__link_nft_web {
  max-width: 460px;
  grid-column: span 3;
  padding-top: 12%;
}

.stories__link-heading {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.stories__link-artist {
  line-height: 22px;
  margin: 0;
}

.stories__paragraph {
  max-width: 484px;
  line-height: 1.6;
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .stories {
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }

  .stories__content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 0fr) 50px;
    grid-gap: 30px 0;
  }

  .stories__header {
    font-size: 32px;
    line-height: 35px;
  }

  .stories__image {
    max-width: 320px;
    max-height: 320px;
    grid-column: 1;
    grid-row: 3;
  }

  .stories__link_nft_button,
  .stories__link_nft_button-four {
    max-width: 320px;
    font-size: 14px;
    grid-row: 6;
  }

  .stories__link_nft_web {
    padding: 0;
    grid-column: 1;
    grid-row: 2;
  }

  .stories__paragraph {
    max-width: 290px;
    grid-column: 1;
    grid-row: 4;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .stories {
    max-width: 720px;
    gap: 72px;
  }

  .stories__content {
    grid-template-rows: 90px 1fr repeat(2, 50px);
  }

  .stories__header {
    font-size: 42px;
    line-height: 46px;
    padding-top: 12%;
  }

  .stories__header_screen_m {
    padding: 0;
  }

  .stories__image {
    max-width: 340px;
    max-height: 340px;
    grid-row: 2 / 4;
  }

  .stories__link_nft_button,
  .stories__link_nft_button-four {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 14px;
  }

  .stories__link_nft_web {
    padding: 10px;
  }

  .stories__paragraph {
    max-width: 352px;
    font-size: 12px;
    grid-column: span 3;
    grid-row: 2 / 5;
  }
}
